body {
    background-color: #000;
}

.container {
    background-color: beige;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.container div {
    border-radius: 10px;
}

.container .red {
    background-color: red;
    grid-column: 1/3;
}

.container .blue {
    background-color: blue;
    grid-column: 3/5;
}

.container .green {
    background-color: green;
}

.container .purple {
    background-color: purple;
    grid-column: 2/5;
}

.container .yellow {
    background-color: yellow;
    grid-column: 1/-1;
}

/* ----------------------- */

.container2 {
    background-color:cadetblue;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
    "r r b b"
    "g p p p"
    "y y y y";
}

.container2 div {
    border-radius: 10px;
}

.container2 .red {
    background-color: red;
    grid-area: r;
}

.container2 .blue {
    background-color: blue;
    grid-area: b;
}

.container2 .green {
    background-color: green;
    grid-area: g;
}

.container2 .purple {
    background-color: purple;
    grid-area: p;
}

.container2 .yellow {
    background-color: yellow;
    grid-area: y;
}