.card {background-color: rgb(83, 6, 21);
height: 350px;
width: 250px;
display: flex;
justify-content: space-between;
flex-flow: column nowrap;
align-items: center;
padding: 0.5em;}

.card img {background-color: white;
width: 200px;
height: 200px;}