.container {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {
    grid-column: 5/-1;
}

.menu {
    grid-column: 1/span 2;
    grid-column: 1/span 4;
}

.content {
    grid-column: 5/-1;
}

.footer {
    grid-column: 1/-1
}