body {
    background-color: #131417;
    font-family: Inter, sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    max-width: 675px;
    max-height: 355px;
    border-radius: 12px;
    background-color: rgba(22, 22, 25, 0.7);
    position: relative;
}

.adtext {
    margin: 65px 72px;
}

.adtext span {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.42px;
}

.adtext p {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

.container img {
    position: absolute;
}

img#ellipse1 {
    bottom: 30px;
    right: -10px;
    z-index: 3;
}

img#ellipse2 {
    bottom: -40px;
    right: -10px;
    z-index: 2;

}

img#star1 {
    bottom: -20px;
    right: -25px;
    z-index: 4;
}

img#megaphone1 {
    top: -80px;
    left: -80px;
    rotate: -20.68;
}



.adtext input {
    background-color: rgba(22, 22, 25, 0.7);
    color: #F17965;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -5%;
    width: 144px;
    height: 42px;
    text-align: center;
    border: 2px solid #F17965;
    border-radius: 12px;
    transition: 0.3s;
}

.adtext input:hover {
    background-color: #F17965;
    color: #fff;
}