body {
    font-family: Inter, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

ul li {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    bottom: 20px;
}

.sections {
    height: 100vh;
    font-size: 128px;
    line-height: 128px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {

    background-color: #F5F3F3;
    border-radius: 16px;
    padding: 14px 6px 14px 6px;
    display: inline;
    text-align: center;

}



.navbar a {
    text-decoration: none;
}

li a.navigationbtn {
    color: #F17965;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -5%;
    border: 2px solid #F17965;
    border-radius: 12px;
    padding: 8px 16px;
}



a .bi {
    color: #959393;
    width: 48px;
    height: 48px;
    bottom: -11px;
    right: -100px;
    position: absolute;
}



#section1 {
    background-color: #FFF
}

#section2 {
    background-color: #51CB65;
}

#section3 {
    background-color: #816EF5;
}

#section4 {
    background-color: #EA7B7B;
}

#section5 {
    background-color: #D9D9D9;
    color: #e41111;
}