body {
    background-color: #e2e1e1;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.banner {
    /* margin: 0 auto; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.subheader {
    letter-spacing: 0.2px;
    color: #959393;
    text-transform: uppercase;
    position: relative;
    top: 25px;
    right:30px;
}

.title {
    color: #121212;
    font-weight: 700;
    font-size: 128px;
    line-height: 128px;
    position: relative;
}

.subtitle {
    color: #373636;
}

.title img {
    position: absolute;
    right: -3px;
    rotate: -18.51;
    bottom:-2px ;
}